@font-face {
  font-family: "Poppins-Black";
  src: url("Font/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  src: url("Font/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("Font/Poppins-Italic.ttf");
}
.candybackground {
  position: fixed;
  width: 505px;
  height: 1263px;
  right: 10%;
  top: -214px;
}

.CandyChallenge {
  position: absolute;
  left: 2%;
  right: 76.39%;
  top: 3%;
  bottom: 0%;
}

.navbar {
  
  position: absolute;
  width: 400px;
  height: 27px;
  left: 70%;
  top: 5%;
  justify-content: space-between;

  display: flex;

  font-family: "Poppins-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height */

  color: black;
}

.navbar-item {
    text-decoration: none;
}
  
.candy {
  position: absolute;
  width: 132px;
  height: 55.21px;
  left: 2%;
  top: 10%;
}

.CandyAmount {
  /* text of amount of candies */
  position: absolute;
  width: 100px;
  height: 28px;
  left: 6%;
  top: 8%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 190%;
  line-height: 28px;
  
  color: #F45238;
}
  
.page_name1 {
  /* title of a page */
  position: absolute;
  width: 436px;
  height: 54px;
  left: 72px;
  top: 120px;
  
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  
  color: #000000;
}

name.page_name2 {
  /* title of a page */
  position: absolute;
  width: 200px;
  height: 54px;
  left: 130px;
  top: 35px;

  font-family: Poppins-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  color: #E073B3;
}

.title_box {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  
  position: absolute;
  width: 481px;
  height: 30px;
  left: 0px;
  top: 2.5rem;
  
  border: none;
  background: #ECECEC;
  border-radius: 6px;
}

.create_title {
  /* Title */
  position: absolute;
  width: 28px;
  height: 16px;
  left: 72px;
  top: 14rem;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}

.create_title p{
  font: 1rem 'Fira Sans', sans-serif;
}

.create_discription {
  position: absolute;
  width: 71px;
  height: 16px;
  left: 72px;
  top: 330px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}

.create_discription p{
  font: 1rem 'Fira Sans', sans-serif;
}

.discription_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  
  position: absolute;
  width: 481px;
  height: 90px;
  left: 0px;
  top: 2.5rem;
  
  border: none;
  background: #ECECEC;
  border-radius: 6px;
}

.start_time {
  position: absolute;
  width: 119px;
  height: 16px;
  left: 72px;
  top: 31.5rem;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}


.end_time {
  position: absolute;
  width: 119px;
  height: 16px;
  left: 20rem;
  top: 31.5rem;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}

.time label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

  /* .invite_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 481px;
    height: 41px;
    left: 0px;
    top: 50px;
    
    background: #ECECEC;
    border-radius: 6px;
  } */

  .create_button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    
    position: absolute;
    width: 103px;
    height: 56px;
    left: 70px;
    top: 700px;

    background: #76CCCF;
    border-radius: 13px;
    border-width: 0ch;
  }

  .create_button_text {
    position: static;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500%;
    font-size: 190%;
    line-height: 150%;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0% 10%;
   }

  .bottom {
    position: fixed;
    width: 100%;
    height: 7rem;
    left: 0px;
    bottom: 0;
    
    background: #D3FFFA;
  }

  .store_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 5px;
  }

  .create_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 5px;
  }

  .avatar_icon {
    position: absolute;
    left: 75.14%;
    right: 20%;
    top: 5px;
  }