@font-face {
    font-family: "Poppins-Black";
    src: url("../Landing-page/Font/Poppins-Black.ttf");
  }
  @font-face {
    font-family: "Poppins-Italic";
    src: url("../Landing-page/Font/Poppins-Italic.ttf");
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url("../Landing-page/Font/Poppins-Italic.ttf");
  }
.candybackground {
    position: absolute;
    width: 505px;
    height: 1263px;
    right: 10%;
    top: -214px;
}
  
.CandyChallenge {
position: absolute;
left: 2%;
right: 76.39%;
top: 3%;
bottom: 0%;
}
.navbar {
  
    position: absolute;
    width: 400px;
    height: 27px;
    left: 70%;
    top: 5%;
    justify-content: space-between;
  
    display: flex;
  
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    /* identical to box height */
  
    color: black;
}
.navbar-item {
    text-decoration: none;
}

.candy {
    /* number of candy icon */
    
    position: absolute;
    width: 132px;
    height: 55.21px;
    left: 3%;
    top: 64px;
    

}

.CandyAmount {
    /* text of amount of candies */
    
    position: absolute;
    width: 80px;
    height: 28px;
    left: 7%;
    top: 64px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #F45238;
}
.Avatar{
    /* Avatar */
position: absolute;
left: 6.11%;
right: 86.94%;
top: 22.17%;
bottom: 68.07%;

}


.Details{
/* My Details */

position: absolute;
width: 200px;
height: 54px;
left: 88px;
top: 366px;

font-family: 'Poppins-Regular';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #000000;
}

.Editbtn{
    /* Frame 2 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 65px;
height: 56px;
left: 341px;
top: 366px;

background: url(Edit_button.png);
border-radius: 11px;
}



.Username{
    /* UserName */
position: absolute;
width: 85px;
height: 21px;
left: 88px;
top: 489px;

font-family: Poppins-regular;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

.nameBox{
    /* Frame 3 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 481px;
height: 52px;
left: 214px;
top: 476px;

background: #ECECEC;
border-radius: 6px;
}

.name{
    /* yiya */


position: static;
width: 32px;
height: 21px;
left: 10px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: rgba(0, 0, 0, 0.69);


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.Useremail{
    /* Email */


position: absolute;
width: 49px;
height: 27px;
left: 88px;
top: 592px;

font-family: Poppins-Regular;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;
}

.emailBox{
    /* Frame 4 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 481px;
height: 52px;
left: 214px;
top: 587px;

background: #ECECEC;
border-radius: 6px;
}

.email{
    /* candyY@gmail.com */
position: static;
width: 160px;
height: 21px;
left: 10px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: rgba(0, 0, 0, 0.69);

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.bottom {
    position: fixed;
    width: 100%;
    height: 7rem;
    left: 0px;
    bottom: 0;
    
    background: #D3FFFA;
  }

  .store_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 5px;
  }

  .create_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 5px;
  }

  .avatar_icon {
    position: absolute;
    left: 75.14%;
    right: 20%;
    top: 5px;
  }
