/* ↓ top, bottom and page title ↓ */
.candybackground {
    position: fixed;
    width: 505px;
    height: 1263px;
    right: 10%;
    top: -214px;
  }
  
  .CandyChallenge {
    position: fixed;
    left: 2%;
    right: 76.39%;
    top: 3%;
    bottom: 0%;

    z-index: 1;
  }
  
  .navbar {
    position: fixed;
    width: 400px;
    height: 27px;
    left: 70%;
    top: 5%;
    justify-content: space-between;
  
    display: flex;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;

    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.479);
    color: black;
    z-index: 1;
  }
  
  .navbar-item {
      text-decoration: none;
  }
  
  .candy {
    position: fixed;
    width: 150px;
    height: 55.21px;
    left: 2%;
    top: 10%;

    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 1;
  }
  
  .CandyAmount {
    /* text of amount of candies */
    position: fixed;
    width: 80px;
    height: 28px;
    left: 6%;
    top: 8%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 190%;
    line-height: 28px;
    
    color: #F45238;
    z-index: 1;
  }
    
  .page_name1 {
    /* title of a page */
    position: absolute;
    width: 436px;
    height: 54px;
    left: 40%;
    top: 10%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    
    color: #000000;
  }
  
  name.page_name2 {
    /* title of a page */
    position: absolute;
    width: 200px;
    height: 54px;
    left: 18%;
    top: 35px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
  
    color: #E073B3;
  }
  
  .bottom {
    position: fixed;
    width: 100%;
    height: 7rem;
    left: 0px;
    bottom: 0;
    
    background: #D3FFFA;
    z-index: 1;
  }
  
  .store_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 5px;
  }
  
  .create_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 5px;
  }
  
  .avatar_icon {
    position: absolute;
    left: 75.14%;
    right: 20%;
    top: 5px;
  }
  /* ↑ top, bottom and page title ↑ */
  
  .challenge {
    position: absolute;
    width: 100%;
    left: 4%;
    top: 20%;
  }
  
  .challenge_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  
    color: #000000;
  }
  
  .challenge_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-center;

    width: 30%;
    max-height: max-content;
    padding: 1%;

    border-radius: 20px;
    border-width: 0px;
    background: #FFC9B0;
    color: white;
  }

  .box_user {
    position: sticky;
    top: 0%;
    left: 0%;
  }

  .box_avatar {
    display: inline;
    top: 0%;
    left: 0%;
    width: 35%;
  }

  .box_username {
    display: inline;

    font-family: Roboto;
    font-size: 150%;
    color: #000000;
  }

  .box_img {
      width: 100%;
      object-fit: cover;
  }
  
  /* #two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
  } */