.candybackground {
    position: absolute;
    width: 505px;
    height: 1263px;
    right: 10%;
    top: -214px;
  }
  
  .CandyChallenge {
    position: absolute;
    left: 2%;
    right: 76.39%;
    top: 3%;
    bottom: 0%;
  }
  
  .navbar {
    
    position: absolute;
    width: 400px;
    height: 27px;
    left: 70%;
    top: 5%;
    justify-content: space-between;
  
    display: flex;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    /* identical to box height */
  
    color: black;
  }
  
  .navbar-item {
      text-decoration: none;
  }
  
  .candy {
    /* number of candy icon */
    
    position: absolute;
    width: 132px;
    height: 55.21px;
    left: 2%;
    top: 64px;
    

  }
  
.CandyAmount {
    /* text of amount of candies */
    
    position: absolute;
    width: 80px;
    height: 28px;
    left: 7%;
    top: 64px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #F45238;
  }
.challengeBlock{
      /* Rectangle 9 */

position: absolute;
left: 3%;
right:50%;
top: 20%;
bottom:-40%;
width:62%;

background: #FFC9B0;
border-radius: 20px;
}

.checkBlock{
    /* Frame 2 */

/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 60px;
height: 40px;
right: 10%;
top: 20px;

background: #76CCCF;
border-radius: 11px;
}

.joinTxt{
    position: absolute;
    width: 50px;
    height: 0px;
    left: 0px;
    top: -3px;
}

.creatorAvatar{
    /* Avatar */

position: absolute;
left: 3%;
right: 80.42%;
top: 5%;
bottom: 65.62%;
}

.creatorName{
    /* Adsa */


position: absolute;
left: 24.35%;
right: 52.48%;
top: 10%;
bottom: 75.94%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;
}
.challengepic{
    /* Image */


position: absolute;
left: 8.27%;
right: 8.04%;
top: 26.91%;
bottom: 80%;
}

.challengeContent{
    /* Running ----challenge contents------- -------------------------------------------- ----------------------------------------------- */


position: absolute;
left: 9.22%;
right: 8.98%;
top: 52%;
bottom: 9.93%;

font-family: Roboto;
font-style: normal;

}
.dueDateBlock{
    /* Frame 5 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 279px;
height: 56px;
left: 70px;
bottom: 10%;

background: #FF864E;
border-radius: 11px;
}
.dueTxt{
    /* Due date: 11/04/2021 */


position: static;
width: 100px;
height: 36px;
left: 20px;
top: 0px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 0px;
/* identical to box height */


color: #FFFFFF;
}

.date{

    /* Due date: 11/04/2021 */


position: static;
width: 60px;
height: 36px;
right: 5%;
top: 10px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 0px;
/* identical to box height */


color: #FFFFFF;
}




.bottom {
    position: fixed;
    width: 100%;
    height: 7rem;
    left: 0px;
    bottom: 0;
    
    background: #D3FFFA;
  }

  .store_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 5px;
  }

  .create_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 5px;
  }

  .avatar_icon {
    position: absolute;
    left: 75.14%;
    right: 20%;
    top: 5px;
  }
