*,
body {
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  border: 1px solid red;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

.brand-name {
  position: fixed;
}

.landing {
  position: relative;

  background-image: url("./images/landing-page-background.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.landing img {
  /* Candy Challenge 1 */
  position: absolute;

  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.479);
  z-index: 1;

  /* width: 100%;
    z-index: 0; */
}

.candy-dotpoint {
  /* border: 1px solid red; */
  position: absolute;
  left: 440px;
  top: 280px;
}

.candy-teamsuccess {
  position: absolute;
  right: 5%;
  bottom: 5%;
  block-size: 40%;
}

.landing .img11 img {
  /* image 11 */

  position: absolute;
  width: 589px;
  height: 614px;
  left: 916px;
  top: 512px;
  background: url("image 11.png");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("Font/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  src: url("Font/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("Font/Poppins-Medium.ttf");
}

.landing .tag-line {
  /* Ambition Excellence */

  position: absolute;
  width: 714px;
  height: 96px;
  left: 103px;
  top: 260px;

  font-family: "Poppins-Black";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 96px;
  /* identical to box height */

  color: #000000;
}

.landing .reach {
  /* Reach your highest pontential and help others succeed too */

  position: absolute;
  width: 726px;
  height: 36px;
  left: 103px;
  top: 400px;

  font-family: "Poppins-Italic";
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}

.landing .join-layout {
  /* Frame 2 */
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  transition: all 1s;
  color: black;

  text-decoration: none;
  position: absolute;
  width: 130px;
  height: 55px;
  left: 110px;
  top: 550px;

  background: #76cccf;
  border-radius: 11px;
}

.landing .join-layout:hover {
  color: white;
  background-color: rgb(22, 177, 164);
}

.landing .join-text {
  /* Join now */
  width: 100%;
  position: static;
  width: 100px;
  height: 36px;
  left: 10px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

#about,
#contact {
  /* border: 1px solid red; */
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-flow: column wrap;
  scroll-snap-align: start;
  position: relative;
}

#about span,
#contact span {
  color: rgb(207, 57, 82);
}

#about pre,
#contact pre {
  font-size: 7rem;
}

#about h1,
#contact h1 {
  margin: 1rem 0 1rem 0;
  font-family: "Poppins-Italic";
  font-size: 2rem;
}

.landing .navbar {
  /* About */

  position: fixed;
  width: 400px;
  height: 27px;
  left: 70%;
  top: 5%;

  justify-content: space-between;

  display: flex;

  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height */

  color: black;
}

.navbar-item {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  font-family: "Poppins";
}

.navbar-item:hover {
  color: rgb(243, 72, 101);
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.earth {
  margin-top: 6rem;
}

footer {
  background-color: rgb(155, 231, 218);
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media {
  /* border: 1px solid red; */
  height: 100px;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: #0c5e61;
}

.copyright {
  font-family: "Poppins-Medium";
  font-size: 1rem;
  margin-bottom: .7rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 40vw;
  height: 30vh;
  justify-content: space-around;
}

.form-about {
  height: 10vh;
}


.form-input {
  font-family: "Poppins-Medium";
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid rgb(214, 214, 214);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-button {
  color: white;
  background-color: rgb(102, 211, 202);
  transition: all 1s;
  border: none;
  border-radius: 11px;
  padding: 10px;
  width: 130px;
  height: 55px;
  cursor: pointer;
}

.form-button:hover {
  background-color: rgb(22, 177, 164);
  color: white;
}

.form-input:hover {
  border: 1px solid gray;
}

@media screen and (min-width: 400px) {
  .landing {
    font-size: 2rem;
  }

  pre {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .candy-dotpoint {
    /* border: 1px solid red; */
    position: absolute;
    left: 325px;
    top: 280px;
  }

  img {
    size: 2rem;
  }

  .landing .navbar {
    left: 10%;
    top: 7rem;
  }
  #about,
  #contact {
    font-size: 1rem;
    padding: 2rem;
  }

  #about h1,
  #contact h1 {
    font-size: 1.5rem;
  }

  #about pre,
  #contact pre {
    font-size: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .landing {
    font-size: 2rem;
  }

  #about,
  #contact {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    /* background-color: lavender; */
  }
  #about pre,
  #contact pre {
    font-size: 4rem;
    /* background-color: lavender; */
  }

  .landing .navbar {
    left: 10%;
    top: 7rem;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 2;
  }
}

@media screen and (min-width: 1024px) {
  .landing .navbar {
    height: 27px;
    left: 50%;
    top: 5%;
  }
}

@media screen and (min-width: 1444px) {
  #about,
  #contact {
    font-size: 2rem;
    /* background-color: lavender; */
    padding: 10rem;
  }
  #about pre,
  #contact pre {
    font-size: 6rem;
    /* background-color: lavender; */
  }

  .landing .navbar {
    height: 27px;
    left: 70%;
    top: 5%;
  }

  .landing .brand-name .img {
    max-width: 20%;
  }
}
