*,
body {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.brand-name {
  position: fixed;
}

.landing {
  background-image: url("./images/landing-page-background.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.landing img {
  /* Candy Challenge 1 */
  position: absolute;

  /* width: 100%;
    z-index: 0; */
}

.candy-dotpoint {
  /* border: 1px solid red; */
  position: absolute;
  left: 440px;
  top: 280px;
}

.candy-teamsuccess {
  position: absolute;
  right: 5%;
  bottom: 5%;
  block-size: 40%;
}

.landing .img11 img {
  /* image 11 */

  position: absolute;
  width: 589px;
  height: 614px;
  left: 916px;
  top: 512px;
  background: url("image 11.png");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("Font/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  src: url("Font/Poppins-Italic.ttf");
}

.landing .tag-line {
  /* Ambition Excellence */

  position: absolute;
  width: 714px;
  height: 96px;
  left: 103px;
  top: 260px;

  font-family: "Poppins-Black";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 96px;
  /* identical to box height */

  color: #000000;
}

.landing .reach {
  /* Reach your highest pontential and help others succeed too */

  position: absolute;
  width: 726px;
  height: 36px;
  left: 103px;
  top: 400px;

  font-family: "Poppins-Italic";
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}

.landing .join-layout {
  /* Frame 2 */
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  transition: all 1s;
  color: black;

  text-decoration: none;
  position: absolute;
  width: 130px;
  height: 55px;
  left: 110px;
  top: 550px;

  background: #76cccf;
  border-radius: 11px;
}

.landing .join-layout:hover {
  color: white;
  background-color: rgb(22, 177, 164);
}

.landing .join-text {
  /* Join now */
  width: 100%;
  position: static;
  width: 100px;
  height: 36px;
  left: 10px;
  top: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.landing .navbar {
  /* About */

  position: fixed;
  width: 400px;
  height: 27px;
  left: 1000px;
  top: 35px;
  justify-content: space-between;

  display: flex;

  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height */

  color: black;
}

.navbar-item {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  font-family: "Poppins";
}

.navbar-item:hover {
  color: rgb(243, 72, 101);
}

#about {
  /* border: 1px solid red; */
  margin-top: 15vh;
  height: 85vh;
  width: 100%;
  padding: 3rem;
  font-size: 2rem;
  padding: 10rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#about span {
  color: rgb(207, 57, 82);
}

#about pre {
  font-size: 7rem;
}

#about h1 {
  margin: 1rem 0 1rem 0;
  font-family: "Poppins-Italic";
  font-size: 2rem;
}
